[data-theme='dark'] {
  
    --background: #040312;
  
    --primary-txt: #F9FAFB;
    --secondary-txt: #D1D5DB;

    --bg-secondary: #111827;

    /* Button  */
    --btn-primary-bg: #F9FAFB;
    --btn-primary-txt: #111827;

    /* Section Header  */
    --section-header-txt: #D1D5DB;
    --section-header-bg: #374151;
    

    /* Card  */
    --card-bg: #1F2937;

}